/* general */

* {
  font-family: 'Raleway', sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #86ad74;
}

/* start / result wrapper */

.start-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  gap: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.start-wrapper.hide {
  display: none;
}

.result-heading {
  font-size: 30px;
  margin: 0;
}

.result-heading.hide {
  display: none;
}

.start-button {
  width: 250px;
  height: 80px;
  border: none;
  background-color: #b45f06;
  color: #ffffff;
  font-size: 40px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.start-button:hover {
  box-shadow: none;
}

.start-button:active {
  opacity: 0.7;
}

/* quiz wrapper */

.quiz-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
  width: 100%;
  height: 100vh;
}

.quiz-wrapper.hide {
  display: none;
}

.question-heading {
  font-size: 50px;
  margin: 0;
}

.answer-row {
  display: flex;
  gap: 10px;
}

.answer-row>button {
  width: 150px;
  height: 70px;
  background-color: #b45f06;
  color: #ffffff;
  font-size: 35px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.answer-row>button:hover {
  box-shadow: none;
}

.answer-row>button:active {
  opacity: 0.7;
}